@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  text-align: center;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
  
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.assignment {
  margin:auto;
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 30px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.assignment img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.assignment h2 {
  margin: 0;
  font-size: 18px;
}

.assignment p {
  margin-top: 5px;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}
.return{
    font-weight: 600;
  transition: all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}

